html,
body {
	text-align: center;
}

.content {
	font-family: Georgia;
	font-size: 16px;
	background-color: white;
	color: black;
	margin: 0;
}

input,
select,
button,
label {
	font-family: inherit;
	font-size: inherit;
	vertical-align: middle;

	&:not(label) {
		border-radius: 1em;
	}
}

.loader {
	width: 50px;
	height: 50px;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
}
