.container {
	background-color: white;
	padding: 15px;
	height: 130px;
	width: 400px;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 15px;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
}

.grid-container div input {
	width: 50px;
	border-radius: 1em;
	text-align: center;
}

.submit {
	border-radius: 1em;
	font-size: 15px;
}

.error {
	color: red;
}

button:active {
	filter: brightness(80%);
}

.loader {
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 50px;
	height: 50px;
	z-index: 10;
}
