body {
	max-width: 300px;
	display: grid;
	grid: auto / auto;
	margin: auto;
	height: 100vh;
	justify-items: center;
	align-items: center;
}

body:has(.content.needsHelp:not(.magic)) {
	grid: 1fr auto 1fr / auto;
	align-items: start;
}

body:has(.content.needsHelp:not(.magic)) .content {
	grid-row: 2 / 3;
}

body:has(.content.needsHelp:not(.magic)) #helper {
	grid-row: 3 / 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

body:has(.content.needsHelp:not(.magic)) #helper * {
	text-align: center;
}

body:has(.content.needsHelp:not(.magic)) #helper #tip {
	font-size: 10.5px;
	max-width: 300px;
	width: 100%;
}

body:has(.content.needsHelp:not(.magic)) #helper #helpcontainer {
	height: 5rem;
	width: 75%;
	overflow: hidden;
	background-color: #eee;
}

body:has(.content.needsHelp:not(.magic)) #helper #helpcontainer > p {
	margin: 0;
	width: 100%;
}

body:has(.content.needsHelp:not(.magic)) #helper .toggle {
	display: flex;
}

@keyframes scroll {
	0% {
		transform: translateY(0%);
	}

	15% {
		transform: translateY(0%);
	}

	85% {
		transform: translateY(calc(-100% + 3lh));
	}

	100% {
		transform: translateY(calc(-100% + 3lh));
	}
}

.content {
	max-width: 300px;
	width: 95%;
	text-align: center;
	margin: 0;
	height: -moz-min-content;
	height: min-content;
}

.loader {
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 50px;
	height: 50px;
	z-index: 10;
}

.dbutton {
	background-color: var(--__bg);
	border: 0;
	line-height: 2rem;
	height: 1lh;
	padding: 0 1em;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 1rem;
	background-image: linear-gradient(
		to top left,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 30%,
		rgba(0, 0, 0, 0)
	);
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
		inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

/* min-height: 32px; */

.dbutton:hover {
	filter: brightness(120%);
}

.dbutton:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
		inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#main {
	display: flex;
	flex-direction: column;
	gap: 1.5px;
}

#main > .mainRow {
	display: grid;
	justify-content: center;
	margin: auto;
	grid-gap: 1vw;
	gap: 1vw;
}

#main > .mainRow:has(button + button) {
	grid: auto / repeat(2, minmax(min-content, 1fr));
}

#main > .mainRow:has(button + button + button) {
	grid: auto / minmax(min-content, 1fr) auto minmax(min-content, 1fr);
}

#main .numinp {
	border: 0;
	background-image: none;
	width: 245px;
	height: 25px;
	padding: 20px 5px 20px 20px;
	background-size: 290px 70px;
	background-position: center;
	text-align: center;
	font-size: 20px;
	border-radius: 45px;
	align-self: center;
	margin: 0.75rem 0;
}

#main .healthbar {
	display: flex;
	justify-content: center;
	align-self: center;
	position: relative;
	width: 95%;
	max-width: 95vw;
}

#main .healthbar .back {
	background-color: #eee;
	width: 100%;
	left: 0;
	height: 1.25rem;
	border-radius: 1rem;
	z-index: -1;
	position: relative;
}

#main .healthbar .bar {
	height: 1.25rem;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	z-index: 0;
	transition: width 2s, background-color 2s, border-radius 2s;
}

#main .healthbar .barcontainer {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

#main .healthbar .hp {
	position: relative;
	border-radius: 10px 10px 10px 10px;
}

#main .healthbar .bhp {
	position: relative;
	border-radius: 0px 10px 10px 0px;
}

#main .healthbar .thp {
	background-color: #69ecec;
	position: relative;
	border-radius: 0px 10px 10px 0px;
}

#main .healthtext {
	z-index: 1;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#spells {
	display: grid;
	grid-template-columns: repeat(5, minmax(min-content, auto));
	grid-auto-rows: auto;
	justify-content: space-around;
	align-items: center;
}

#spells > .spellrow {
	grid-column: 1 / -1;
	display: flex;
	text-align: center;
	/* width: 100%; */
	align-items: center;
	justify-content: space-around;
}

#spells > .spellrow:has(#setSlots + #spellReturn) {
	display: grid;
	grid: auto / repeat(2, minmax(min-content, 1fr));
	margin: auto;
}

#spells .slotnumber {
	width: 50px;
	height: 1rem;
	border-radius: 1rem;
}

#spells .slotnumber + span {
	font-size: 18px;
}

#tools {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#tools > * {
	display: flex;
	width: -moz-fit-content;
	width: fit-content;
}

#helper {
	display: none;
}

.numinput {
	text-align: center;
}

.grayout {
	background-color: grey !important;
}

.version {
	position: absolute;
	bottom: 1vh;
	display: grid;
	grid: auto / 25px auto 25px;
	justify-content: center;
	align-items: center;
	justify-self: center;
}

.version > * {
	display: flex;
	width: -moz-min-content;
	width: min-content;
	height: -moz-min-content;
	height: min-content;
}

.version div#version {
	text-align: middle;
}

/* @media (prefers-color-scheme: dark) {
		body {
			background-color: black;
			color: white;
		}
	} */
